/*.application{
    background-color:blue;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    border: 6px lightblue;
    text-decoration: none;
    justify-content:space-around;
    color: lightgray;
    
}*/
body{
    color: gray;
    background-color: white;
    font-style: Verdana;
}


.name{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:flex-start;
    margin-right:400px;
    font-size:.7em;
}

.phone{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-right:225px;
    font-size:.7em;
}
.skills{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-right:100px;
    font-size:.7em;
}

#container{
    background-color: white;
    border:8px solid dodgerblue;
}


h2{
    font-size:1em;
}

ul{
    list-style-type:none;
}