

body{
    color:darkgray;
    background-color: white;
    font-style: Garamond;
    font-weight:bold;
}

input[type=text]{
    border-width:0;
}

input[type=email]{
    border-width:0;
}

input[placeholder]{
    color: lightgray;
    padding: 2px;
}

.input{
    border:1px solid lightgray;
    padding:20px;
}



#container{
    background-color: white;
    border:8px solid lightblue;
    display:flex;
    flex-direction:row;
}


button{
    background-color:lightgreen;
    width: 150px;
    color:white;
    font-size:.75em;
    position: relative;
    margin:10px auto;
    text-align:center;
    padding:10px;

}


form{
    display:flex;
    flex-direction:row;
    padding:10px;
    flex-wrap:wrap;
    border:none;
    font-size:.9em;
}

.one{
    display:flex;
    flex-direction:column;
    width:46%;
    border-left:none;
    border-top:none;
   
}

.two{
    display:flex;
    flex-direction:column;
    width:45%;
    border-top:none;
    border-right:none;
}

.three{
    display:flex;
    flex-direction:column;
    width:30%;
    border-top:none;
    border-left:none;
}

.four{
    display:flex;
    flex-direction:column;
    width:30%;
}
.five{
    display:flex;
    flex-direction:column;
    width:30%;
    border-right:none;
}

.six{
    display:flex;
    flex-direction:column;
    width:21.5%;
    border-left:none;
}

.seven{
    display:flex;
    flex-direction:column;
    width:21.5%;
}

.eight{
    display:flex;
    flex-direction:column;
    width:21.5%;
}

.nine{
    display:flex;
    flex-direction:column;
    width:22%;
    border-right:none;
}